<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androids="http://schemas.android.com/apk/res-auto"
    package="com.example.e610.quranmessenger">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SettingsActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Main2Activity" />

            </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop" />
        <!-- android:keepScreenOn="true" -->
        <activity
            android:name=".Activities.Main2Activity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Services.HeadService" />
        <service android:name=".Services.AzkarService" />
        <service android:name=".Services.AzanService" />
        <service
            android:name=".Services.MediaPlayerService"
            android:stopWithTask="false" />

        <receiver android:name=".Services.MediaPlayerService$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadcastRecievers.NotificationDismissedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name=".Services.WidgetHelper">
            <intent-filter>
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".Activities.FahrsActivity"
            android:label="الفهرس"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Main2Activity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PrayerTimesActivity"
            android:label="الاذان"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Main2Activity" />
        </activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.TafserActivity"
            android:label="التفسير"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Main2Activity" />
        </activity>

        <receiver android:name=".Widget.QuranMessangerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="widget_play" />
                <action android:name="widget_pause" />
                <action android:name="widget_restart" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quran_messanger_widget_info" />
        </receiver>

        <activity
            android:name=".Activities.AzkarActivity"
            android:label="اذكار الصباح و المساء"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Main2Activity" />
        </activity>

        <activity
            android:name=".Activities.AzkarDetailedActivity"
            android:label="الاذكار"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AzkarActivity" />
            </activity>

        <activity android:name=".Activities.OtherSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.SettingsActivity" />
        </activity>

        <receiver android:name=".BroadcastRecievers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadcastRecievers.PhonecallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".Utils.PhonecallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".BroadcastRecievers.AlarmBroadcastReciever" >
            <intent-filter>
                <action android:name="azkar_b" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".forcanWork.Navegation_drawer"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
        </activity>

    </application>

</manifest>